@import '../../styles/global.sass'

.header-container 
  display: flex
  flex-direction: row
  justify-content: space-between
  background-color: $color-background-tertiary
  width: 100vw
  position: sticky
  //color: white

@media (max-width: 768px) 
  .header-container 
    position: sticky
    top: 0
    z-index: 10


.logo-container 
//  width: 100px
//  height: 100px

.logo
  width: 100px
  height: 40px
  margin: 7px 0 0 5px
  //border: 1px solid $color-link-primary


.nav-container
  color: $color-primary

.nav-ul
  list-style: none
  display: flex 
  gap: 1em
  margin-right: 10px

.nav-link
  color: $color-accent
